{% load static %}
<div class="header-section">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">

            <!-- Header Logo (Header Left) Start -->
            <div class="header-logo col-auto">
                <a href="/showroom2/dashboard/">
                    <img src="{% static 'customer/img/sh.jpg'%}" alt="">
                    <img src="{% static 'customer/img/sh.jpg'%}" class="logo-light" alt="">
                </a>
            </div><!-- Header Logo (Header Left) End -->

            <!-- Header Right Start -->
            <div class="header-right flex-grow-1 col-auto">
                <div class="row justify-content-between align-items-center">

                    <!-- Side Header Toggle & Search Start -->
                    <div class="col-auto">
                        <div class="row align-items-center">

                            <!--Side Header Toggle-->
                            <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>


                        </div>
                    </div><!-- Side Header Toggle & Search End -->

                    <!-- Header Notifications Area Start -->
                    <div class="col-auto">

                        <ul class="header-notification-area">

                            <!--Language-->
                            
                            <!--Mail-->


                            <!--Notification-->

                            <!--User-->
                            <li class="adomx-dropdown col-auto">
                                <a class="toggle" href="#">
                                    <span class="user">
                                <span class="avatar">
                                    <img src="{% static 'showroom2/images/avatar/WhatsApp Image 2022-05-05 at 11.45.36 PM.jpeg'%}" alt="">
                                    <span class="status"></span>
                                    </span>
                                    <span class="name">{{result.username}}</span>
                                    </span>
                                </a>

                                <!-- Dropdown -->
                                <div class="adomx-dropdown-menu dropdown-menu-user">
                                    <div class="head">
                                        <h5 class="name"><a href="#">{{result.first_name}} {{result.last_name}}</a></h5>
                                        <a class="mail" href="#">{{result.email}}</a>
                                    </div>
                                    <div class="body">
                                        <ul>
                                            <li><a href="/showroom2/showroom_logout/"><i class="zmdi zmdi-lock-open"></i>Sing out</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </li>

                        </ul>

                    </div><!-- Header Notifications Area End -->

                </div>
            </div><!-- Header Right End -->

        </div>
    </div>
</div>