{% load static %}
<footer class="footer-widget-area">
        <div class="footer-top section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-item">
                            <div class="widget-title">
                                <div class="widget-logo">
                                    <a href="index.html">
                                        <img src="{% static 'customer/img/imageedit_2_4979145166.png'%}" alt="brand logo">
                                    </a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <p>It's ok to be a little obsessed with Jewellery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-item">
                            <h6 class="widget-title">Contact Us</h6>
                            <div class="widget-body">
                                <address class="contact-block">
                                    <ul>
                                        <li><i class="pe-7s-home"></i> Dev Complex, C G Road, Opposite SBI Bank,
                                        Ahmedabad -380009, Gujrat</li>
                                        <li><i class="pe-7s-mail"></i> <a href="mailto:demo@plazathemes.com"> abhushanjewellery@gmail.com </a></li>
                                        <li><i class="pe-7s-call"></i> <a href="tel:(012)800456789987">07924897795</a></li>
                                    </ul>
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-item">
                            <h6 class="widget-title">Information</h6>
                            <div class="widget-body">
                                <ul class="info-list">
                                    <li><a href="/customer/aboutus">about us</a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="/customer/feedback">Feedback</a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="/customer/contactus">Contact Us</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget-item">
                            <h6 class="widget-title">Follow Us</h6>
                            <div class="widget-body social-link">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text text-center">
                            <p>© 2021 <b>Abhushan Jewellery</b> Made with <i class="fa fa-heart text-danger"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>