{% extends 'myadmin2/common/layout.html'%}
{% block content %}

<div class="form-page">
            <!-- Page Header-->
    <div class="bg-dash-dark-2 py-4">
      <div class="container-fluid">
        <h2 class="h5 mb-0">Showroom</h2>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container-fluid py-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 py-3 px-0">
          <li class="breadcrumb-item"><a href="/myadmin2/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Showroom Details</li>
        </ol>
      </nav>
    </div>
<!-- Forms Section-->
<section class="pt-0"> 
  <div class="container-fluid">
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h4 mb-0">Edit Showroom</h3>
          </div>
          <div class="card-body pt-0">
            <form class="form-horizontal" method="post" action="/myadmin2/updateshow/{{result.id}}">
              {% csrf_token %}
              <div class="row">
                <label class="col-sm-3 form-label">Select</label>
                <div class="col-sm-9">
                  <select class="form-select mb-3" name="selectarea">
                    <option value="">-- Select Area --</option>
                    {% for row in result1%}
                      <!-- <option value="{{row.id}}">{{row.areaname}}</option> -->
                      <option value="{{row.id}}" {% if result.areaid_id == row.id %} selected {% endif %}>{{row.areaname}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="my-4"></div>
              <div class="row">
                <label class="col-sm-3 form-label">Email</label>
                <div class="col-sm-9">
                  <input class="form-control" type="email" name="shopemail" value="{{result.email}}">
                </div>
              </div>
              <div class="my-4"></div>
              <div class="row">
                <label class="col-sm-3 form-label">Contact</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="shopcontact" value="{{result.contact}}">
                </div>
              </div>
              <div class="my-4"></div>
              <div class="row">
                <label class="col-sm-3 form-label">Address</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="shopaddress" value="{{result.address}}">
                </div>
              </div>
              <div class="my-4"></div>
              <div class="row">
                <div class="col-sm-9 ms-auto">
                  <button class="btn btn-secondary" type="reset">Cancel</button>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}
