{% extends 'myadmin2/common/layout.html' %}

{% block content%}

<div class="form-page">
            <!-- Page Header-->
            <div class="bg-dash-dark-2 py-4">
              <div class="container-fluid">
                <h2 class="h5 mb-0">All User</h2>
              </div>
            </div>
            <!-- Breadcrumb-->
            <div class="container-fluid py-2">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3 px-0">
                  <li class="breadcrumb-item"><a href="/myadmin2/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
              </nav>
            </div>
        <section class="tables py-0">
          <div class="container-fluid">
            <div class="row gy-12">
              <div class="col-lg-12">
                <div class="card mb-0">
                  <div class="card-header">
                    <h3 class="h4 mb-0">All Users Details</h3>
                  </div>
                  <div class="card-body pt-0">
                    <div class="table-responsive">
                      <table class="table mb-0 table-striped table-hover">
                        <thead>
                          <tr>
                            <th>User Id</th> 
                            <th>First Name</th>  
                            <th>Last Price</th>
                            <th>Email</th> 
                            <th>Contact</th>
                            <th>Address</th>
                            <!-- <th>Password</th> -->
                            <th>Registration Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in result %}
                          <tr> 
                            <th scope="row">{{row.id}}</th>  
                            <td>{{row.first_name}}</td>  
                            <td>{{row.last_name}}</td>
                            <td>{{row.email}}</td>   
                            <td>{{row.profile.contact}}</td>
                            <td>{{row.profile.address}}</td>
                            <!--<td>{{row.password}}</td>-->
                            <td>{{row.date_joined}}</td>
                          </tr>
                          {% endfor %} 
						            </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </section>
        <!-- Page Footer-->
      </div>

{% endblock %}